Repository zhiwenliu2025/tech-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs: 更新功能路线图以反映已实现功能
  doc/FEATURE_ROADMAP.md
Due: prettier --write

docs: 更新 README 和功能路线图，添加热门文章和阅读量统计功能
  README.md
  components/HotPosts.vue
  composables/useHotPosts.ts
  doc/FEATURE_ROADMAP.md
  doc/HOT_POSTS_IMPLEMENTATION.md
  doc/HOT_POSTS_SUMMARY.md
  doc/HOT_POSTS_USAGE.md
  pages/blog/index.vue
  pages/index.vue
Due: eslint --fix, prettier --write

feat(ui): 优化移动端 UI 组件和布局
  components/BlogPostCard.vue
  components/HotPosts.vue
  doc/FEATURE_ROADMAP.md
  doc/MOBILE_UI_OPTIMIZATION.md
  pages/blog/[slug].vue
Due: eslint --fix, prettier --write

feat: 完成依赖升级和 TypeScript 类型优化
  .npmrc
  composables/useHotPosts.ts
  composables/usePullToRefresh.ts
  composables/useSupabase.ts
  composables/useToast.ts
  composables/useTouch.ts
  doc/DEPENDENCY_UPGRADE_2026-01.md
  doc/FEATURE_ROADMAP.md
  doc/HIGH_PRIORITY_OPTIMIZATION_SUMMARY.md
  doc/TYPESCRIPT_OPTIMIZATION_2026-01.md
  package.json
  pnpm-lock.yaml
  types/blog.ts
Due: eslint --fix, prettier --write

feat(cache): 添加 LRU 缓存支持以优化数据获取
  README.md
  components/HotPosts.vue
  composables/useBlogPosts.ts
  composables/useCache.ts
  doc/AUTHOR_INFO_FIX.md
  doc/CACHE_HOTFIX.md
  doc/CACHE_IMPLEMENTATION.md
  doc/CACHE_QUICK_START.md
  doc/CACHE_REFACTOR_COMPLETE.md
  doc/CACHE_SUMMARY.md
  doc/CACHE_TEST_GUIDE.md
  doc/CACHE_UPDATE_NOTES.md
  doc/CACHE_USAGE_EXAMPLES.md
  doc/DATABASE_FIELDS_FIX.md
  doc/SUPABASE_FK_FIX.md
  doc/UNDEFINED_ID_FIX.md
  package.json
  pages/authors/[id].vue
  pages/blog/[slug].vue
  pages/blog/index.vue
  pages/index.vue
  pnpm-lock.yaml
  server/api/cache/invalidate.post.ts
  server/api/cache/stats.get.ts
  server/api/posts/[id]/increment-view.post.ts
  server/api/posts/[id]/stats.get.ts
  server/api/posts/hot.get.ts
  server/api/posts/list.get.ts
  server/api/posts/stats.get.ts
  server/utils/cache.ts
Due: eslint --fix, prettier --write

feat(cache): 增强用户资料缓存管理和批量获取功能
  composables/useBlogPosts.ts
  composables/useCache.ts
  doc/CACHE_AUTHOR_OPTIMIZATION.md
  doc/HIGH_PRIORITY_OPTIMIZATION_COMPLETE.md
  doc/PROFILE_CACHE_ANALYSIS.md
  doc/PROFILE_CACHE_IMPLEMENTATION.md
  doc/PROFILE_CACHE_USAGE_LOCATIONS.md
  pages/authors/[id].vue
  pages/blog/index.vue
  server/api/cache/invalidate.post.ts
  server/api/posts/hot.get.ts
  server/api/posts/list.get.ts
  server/api/profiles/[id].get.ts
  server/api/profiles/batch.get.ts
  server/utils/cache.ts
Due: eslint --fix, prettier --write

feat(config): 添加外部依赖配置以优化模块加载
  nuxt.config.ts
Due: eslint --fix, prettier --write

fix(security): 替换多个API的service_role为普通客户端权限
  composables/useBlogPosts.ts
  doc/ESLINT_FIX.md
  doc/INCREMENT_VIEW_OPTIMIZATION.md
  doc/SECURITY_IMPROVEMENT.md
  server/api/posts/[id]/increment-view.post.ts
  server/api/posts/[id]/stats.get.ts
  server/api/posts/hot.get.ts
  server/api/posts/list.get.ts
  server/api/posts/stats.get.ts
  server/api/profiles/[id].get.ts
  server/api/profiles/batch.get.ts
Due: eslint --fix, prettier --write

docs: 更新 README，增强功能描述和技术栈信息
  README.md
  doc/AUTHOR_INFO_FIX.md
  doc/CACHE.md
  doc/CACHE_AUTHOR_OPTIMIZATION.md
  doc/CACHE_HOTFIX.md
  doc/CACHE_IMPLEMENTATION.md
  doc/CACHE_QUICK_START.md
  doc/CACHE_REFACTOR_COMPLETE.md
  doc/CACHE_SUMMARY.md
  doc/CACHE_TEST_GUIDE.md
  doc/CACHE_UPDATE_NOTES.md
  doc/CACHE_USAGE_EXAMPLES.md
  doc/DATABASE_FIELDS_FIX.md
  doc/DEPENDENCY_UPGRADE_2026-01.md
  doc/DOC_CLEANUP_SUMMARY.md
  doc/ESLINT_FIX.md
  doc/GITHUB_AUTH.md
  doc/GITHUB_LOGIN_BLOG_CREATION.md
  doc/GITHUB_OAUTH_SETUP.md
  doc/GITHUB_OAUTH_TROUBLESHOOTING.md
  doc/HIGH_PRIORITY_OPTIMIZATION_COMPLETE.md
  doc/HIGH_PRIORITY_OPTIMIZATION_SUMMARY.md
  doc/HOT_POSTS.md
  doc/HOT_POSTS_IMPLEMENTATION.md
  doc/HOT_POSTS_SUMMARY.md
  doc/HOT_POSTS_USAGE.md
  doc/KEYBOARD_INPUT_OPTIMIZATION.md
  doc/MOBILE_OPTIMIZATION_RECOMMENDATIONS.md
  doc/MOBILE_OPTIMIZATION_SUMMARY.md
  doc/MOBILE_PWA.md
  doc/MOBILE_UI_OPTIMIZATION.md
  doc/PROFILE_CACHE_ANALYSIS.md
  doc/PROFILE_CACHE_IMPLEMENTATION.md
  doc/PROFILE_CACHE_USAGE_LOCATIONS.md
  doc/PWA_MOBILE_OPTIMIZATION.md
  doc/SECURITY_IMPROVEMENT.md
  doc/SUPABASE_FK_FIX.md
  doc/TOUCH_OPTIMIZATION.md
  doc/TYPESCRIPT_OPTIMIZATION_2026-01.md
  doc/UNDEFINED_ID_FIX.md
Due: prettier --write

chore(deps): 更新依赖版本以提升稳定性和安全性
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(blog-import): 添加博客导入功能方案文档
  doc/BLOG_IMPORT.md
Due: prettier --write

feat(blog): 添加博客导入功能和更新依赖
  composables/useImport.ts
  package.json
  pages/blog-import.vue
  pages/my-blogs.vue
  pnpm-lock.yaml
  server/api/import/fetch.post.ts
  server/utils/import-adapters/base.ts
  server/utils/import-adapters/index.ts
  server/utils/import-utils.ts
Due: eslint --fix, prettier --write

fix(useImport): improve error handling and logging for saveAsPost function
  composables/useImport.ts
Due: eslint --fix, prettier --write

feat(blog): improve content type detection in BlogContentRenderer
  components/BlogContentRenderer.vue
Due: eslint --fix, prettier --write

feat(博客导入): 增强保存功能并添加立即发布按钮
  composables/useImport.ts
  pages/blog-import.vue
Due: eslint --fix, prettier --write

feat(blog-import): enhance image import functionality with duplicate detection
  pages/blog-import.vue
  server/utils/import-utils.ts
Due: eslint --fix, prettier --write

fix(fetch): improve user ID retrieval and rate limit checks
  server/api/import/fetch.post.ts
Due: eslint --fix, prettier --write

feat(blog): enhance post publishing logic and database schema
  composables/useBlogPosts.ts
  supabase/schema.sql
  types/database.types.ts
Due: eslint --fix, prettier --write

chore(commitlint): update configuration to increase line length limits
  commitlint.config.js
Due: eslint --fix, prettier --write

feat(tiptap): enhance Markdown editor and blog content renderer with table support
  components/BlogContentRenderer.vue
  components/MarkdownEditor.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/api/import/fetch.post.ts
  types/turndown-plugin-gfm.d.ts
Due: eslint --fix, prettier --write

chore(dependencies): update @supabase/supabase-js to version 2.95.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(blog-import): enhance UI layout and styling for blog import page
  pages/blog-import.vue
Due: eslint --fix, prettier --write

chore(dependencies): update various packages and add deployment scripts
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(config): optimize build settings and update dependencies
  .npmrc
  .vercelignore
  doc/VERCEL_ESM_FIX.md
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/api/import/fetch.post.ts
  server/utils/import-adapters/base.ts
  vercel.json
Due: eslint --fix, prettier --write

feat(blog-posts): implement server cache invalidation for blog post actions
  composables/useBlogPosts.ts
  doc/CACHE_AUTO_INVALIDATION_SUMMARY.md
  doc/CACHE_INVALIDATION.md
Due: eslint --fix, prettier --write

feat(upload): enhance avatar and image upload functionality with user ID compatibility and file deduplication
  components/AvatarUploader.vue
  components/ImageUploader.vue
  composables/useBlogPosts.ts
  doc/IMAGE_UPLOAD.md
Due: eslint --fix, prettier --write

feat(blog-posts): enhance image deletion logic and unify post deletion method
  composables/useBlogPosts.ts
  pages/admin.vue
  pages/my-blogs.vue
Due: eslint --fix, prettier --write

feat(image): integrate Nuxt Image for optimized image handling in blog posts
  components/BlogPostCard.vue
  composables/useImageOptimizer.ts
  nuxt.config.ts
  package.json
  pages/image-demo.vue
  pnpm-lock.yaml
  server/api/images/[...path].get.ts
Due: eslint --fix, prettier --write

feat(image): enhance Nuxt Image configuration for improved performance and flexibility
  components/BlogPostCard.vue
  components/CoverImage.vue
  nuxt.config.ts
Due: eslint --fix, prettier --write

refactor(image): remove image optimizer composable and simplify responsive sizes configuration
  components/BlogPostCard.vue
  composables/useImageOptimizer.ts
  pages/image-demo.vue
Due: eslint --fix, prettier --write

refactor(image): streamline image upload process and optimize format handling
  components/ImageUploader.vue
  server/api/images/upload.post.ts
  server/utils/import-utils.ts
Due: eslint --fix, prettier --write

refactor(image): implement OptimizedImage extension for responsive WebP support
  components/BlogContentRenderer.vue
  components/MarkdownEditor.vue
  components/extensions/OptimizedImage.ts
  components/extensions/OptimizedImageComponent.vue
  components/extensions/README.md
  nuxt.config.ts
Due: eslint --fix, prettier --write

chore: update package-lock.json after cherry-pick
  package-lock.json
Due: prettier --write

feat(图片浏览): 添加图片灯箱功能
  app.vue
  components/ImageLightbox.vue
  components/extensions/OptimizedImageComponent.vue
  composables/useImageLightbox.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: enhance styling and performance optimizations across components
  README.md
  assets/css/main.css
  components/BlogContentRenderer.vue
  nuxt.config.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

refactor(css): remove unused safe-area-right class from main.css
  assets/css/main.css
Due: none

chore: update .gitignore to include .cursor file
  .gitignore
Due: none

refactor(ui): 更新组件样式和布局以提升视觉体验
  components/AppFooter.vue
  components/AppHeader.vue
  pages/about.vue
  pages/blog/[slug].vue
  pages/blog/index.vue
  pages/index.vue
Due: eslint --fix, prettier --write

feat(blog): 优化博客详情页的UI设计和交互体验
  pages/blog/[slug].vue
Due: eslint --fix, prettier --write

feat: 优化页面UI设计并增强响应式布局
  pages/auth/login.vue
  pages/authors/[id].vue
  pages/authors/index.vue
  pages/contact.vue
  pages/privacy.vue
  pages/terms.vue
Due: eslint --fix, prettier --write
